@import "tailwindcss";

@theme {
  --font-sans: "Chakra Petch", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

* {
  font-family: "Chakra Petch", sans-serif !important;
}

input, button {
  font-family: "Chakra Petch", sans-serif !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
